<mat-card class="wrapper background" fxFlex.gt-lg="60%" fxFlex.gt-md="70%" fxFlex.gt-sm="80%" fxFlex.gt-xs="90%">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center">
      <div>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input id="search" #search matInput type="search" (keyup.enter)="onSearch(search.value)">
        </mat-form-field>
      </div>
      <div *ngIf="showCategories">
        <mat-form-field>
          <mat-select placeholder="Categories"
                      [formControl]="categorySelectionForm"
                      multiple
                      (selectionChange)="selectionChange($event)">
            <mat-option *ngFor="let key of categoryKeys()"
                        [value]="key">
              {{categoryValue(key)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button aria-label="search" mat-icon-button (click)="onSearch(search.value)">
          <mat-icon id="search-icon">search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
