<mat-card class="wrapper background">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
      <div fxFlex="45">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input id="search" #search matInput type="search">
        </mat-form-field>
      </div>
      <div *ngIf="showCategories" fxFlex="45">
        <mat-form-field>
          <mat-select placeholder="Categories"
                      [formControl]="categorySelectionForm"
                      multiple
                      (selectionChange)="selectionChange($event)">
            <mat-option *ngFor="let key of categoryKeys()"
                        [value]="key"
                        [disabled]="categorySelectionForm.value.indexOf(key) === -1 && categorySelectionForm.value.length >= 5">
              {{categoryValue(key)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button aria-label="search" mat-icon-button (click)="onSearch(search.value)">
          <mat-icon id="search-icon">search</mat-icon>
        </button>
      </div>
    </div>
</mat-card>
