<div class="mat-typography">
  <div class="fx-layout-column fx-layout-align-start-center">
    @if (resources) {
      <div class="fx-layout-row-wrap fx-layout-align-center-start fx-fill">
        @for (res of resources; track res) {
          <gz-item-card
            class="item-card fx-flex fx-flex fx-flex"
            .xs="100%"
            .sm="50%"
            .md="25%"
            [removable]="removable"
            [resource]="res"
            [type]="resourceType"
            (removeClicked)="remove($event)"
          >
          </gz-item-card>
        }
      </div>
      <mat-paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    }

    <div class="loading-footer mat-typography">
      @if (loading || !resources) {
        <div id="html-spinner"></div>
      }

      @if (finished && resources && resources.length !== 0) {
        <h3>No more {{ resourceType }} to load.</h3>
      }

      @if (resources && resources.length === 0) {
        <h3>No {{ resourceType }} found.</h3>
      }
    </div>
  </div>
</div>
