mat-card.mat-mdc-card {
  margin: 10px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}

.title-container {
  width: 100%;
}

mat-card-title,
mat-card-subtitle {
  font-size: 14px;
  font-weight: normal;
}

mat-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-subtitle {
  margin-bottom: 1rem;
}

.thumbnail-container {
  aspect-ratio: 16 / 9;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;

  &.empty {
    display: grid;
    place-items: center;
    color: gray;
  }
}
