mat-card {
  margin: 10px;
}

mat-card-title,
mat-card-subtitle {
  font-size: 14px;
  font-weight: normal;
}

mat-card-subtitle {
  margin-bottom: 1rem;
}

.thumbnail-container {
  aspect-ratio: 16 / 9;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;

  &.empty {
    display: grid;
    place-items: center;
    color: gray;
  }
}
