<div class="model-review">
  <div class="content">
    <ign-page-title title="Open a Review"></ign-page-title>
    <p>A model review compares changes across two branches</p>

    <mat-toolbar>
      <mat-icon style="transform: rotate(90deg)">repeat</mat-icon>
      <mat-card>{{fakeBranch}}</mat-card>
      <mat-icon>keyboard_backspace</mat-icon>
      <mat-card>{{fakeBranch}}</mat-card>
    </mat-toolbar>

    <div class="review-group">
      <mat-card>
        <mat-card-title>
          <div class="content">
            Add a new model {{modelName}} for review
          </div>
        </mat-card-title>

        <mat-card-content>
          <h2>What's New</h2>
          <angular-editor [(ngModel)]="description" [config]="editorConfig"></angular-editor>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-raised-button color="accent" (click)="createPullRequest()">Create Pull Request</button>
        </mat-card-actions>
      </mat-card>

      <div class="select-reviewer">
        <mat-form-field>
          <mat-label>Reviwers</mat-label>
          <mat-select  [(ngModel)]="selectedReviewers" multiple>
            <mat-option *ngFor="let reviewer of reviewers" [value]="reviewer">
              {{reviewer}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="no-reviewers" *ngIf="selectedReviewers.length === 0">
          No Reviewers - please select a reviewer
        </div>
        <div class="selected-reviewer" *ngFor="let reviewer of selectedReviewers" fxLayout="row" fxLayoutAlign="space-between">
          <span>{{reviewer}}</span>
          <i class="material-icons" button type="button" matSuffix (click)="deleteReviewer(reviewer)">
            delete
          </i>
        </div>
      </div>
    </div>

    <h2 class="file-date">Files add on {{date}}</h2>
    <div class="file-display">
      <div *ngFor="let file of files" class="file" fxLayout="row" fxLayoutAlign="space-between">
        <span>{{file.name}}</span> 
      </div>
    </div>
  </div>
</div>
