@import '~@angular/material/theming';
@import '../../../styles/custom-theme.scss';

.content {
  padding: 0 20px;
}
.mat-toolbar {
  background-color: mat-color($custom-theme-primary);
  margin: 1em 0;
  .mat-card {
    padding: 0 1em;
    margin: 0 1em;
  }
}
.pull-request-group {
  display: flex;
  .mat-card {
    flex: 4;
    padding: 0;
  }
  .select-reviewer {
    flex: 1;
    padding: 0 1em;
    .mat-form-field {
      width: 100%;
    }
  }
}
.pull-request-group .mat-card-title {
  background-color: mat-color($custom-theme-primary);
  padding: 0.8em;
  .content {
    background-color: white;
    padding: 0.5em;
  }
}
.pull-request-group .mat-card-content {
  padding: 0 1em;
}
.pull-request-group .mat-card-actions {
  padding: 0 2em 2em 0;
}
.file-date {
  margin: 1em 1em 0 1em;
}
.file-display {
  height: 100%;
  border-width: 1px;
  border-color: #c3c3c3;
  border-style: dashed;
  margin: 1em;
  min-height: 2em;
}
.file:hover, .selected-reviewer:hover {
  background-color: mat-color($custom-theme-accent, A100);
}
.file{
  padding: 0.5em 2em;
}
.selected-reviewer {
  padding: 0.5em;
}
.selected-reviewer > i {
  cursor: pointer;
}
.selected-reviewer > i:hover {
  color: mat-color($custom-theme-accent, A700);
}

