@if (edit) {
  <div>
    <mat-list>
      @for (
        metadatum of metadata;
        track metadatum;
        let i = $index;
        let isLast = $last
      ) {
        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="metadata[i].key"
              placeholder="Key"
              (input)="onModify.emit(true)"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="metadata[i].value"
              placeholder="Value"
              (input)="onModify.emit(true)"
            />
          </mat-form-field>
          <button mat-icon-button type="button" (click)="clear(i)">
            <mat-icon>clear</mat-icon>
          </button>
          @if (isLast && metadatum.key !== "" && metadatum.value !== "") {
            <button mat-icon-button type="button" (click)="add()">
              <mat-icon>add</mat-icon>
            </button>
          }
        </mat-list-item>
      }
    </mat-list>
  </div>
} @else {
  @if (metadata.length !== 0) {
    <div class="tab-body">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="key">
          <mat-header-cell *matHeaderCellDef>Key</mat-header-cell>
          <mat-cell *matCellDef="let datum" class="key">{{
            datum.key
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef class="val">Value</mat-header-cell>
          <mat-cell *matCellDef="let datum" class="val">{{
            datum.value
          }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  } @else {
    <div class="tab-body">
      <span>-</span>
    </div>
  }
}
