<mat-card>
  <mat-card-title>Leader Board</mat-card-title>

  <mat-card-content *ngIf="paginatedEntries">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="participant">
        <mat-header-cell *matHeaderCellDef>Participant</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.participant}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
        <mat-cell *matCellDef="let entry">{{entry.score}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="paginatedEntries.totalCount"
                   [pageSize]="10"
                   [pageSizeOptions]="[10]"
                   (page)="pageEvent = pageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
