<div class="page-content-inner fx-flex fx-layout-align-center">
  <div class="content mat-typography">
    <!-- Header -->
    <div class="fx-layout-align-space-between">
      <div class="fx-layout-row" fxAlign="start">
        <!-- User Avatar coming in version 2-->
        <!-- <div>
        <img mat-card-avatar *ngIf="model?.ownerAvatar; else avatarIcon"
          [src]='model?.ownerAvatar'>
        <ng-template #avatarIcon>
          <mat-icon class="material-icons avatar">account_circle</mat-icon>
        </ng-template>
      </div> -->

        <div class="fx-layout-column">
          <gz-page-title
            [title]="model.name"
            svgIcon="gz-model"
          ></gz-page-title>
          <h4>
            By
            <a class="color-link" routerLink="/{{ model?.owner }}">{{
              model?.owner
            }}</a>
          </h4>
        </div>
      </div>
    </div>

    <!-- Gallery and Stats -->
    <div class="fx-layout-row-gt-sm fx-layout-column-lt-md">
      <div class="row-left padding">
        @if (hasGzWeb && model?.files.length > 0) {
          <div>
            <a
              mat-icon-button
              title="View in 3D"
              class="button3d"
              (click)="toggle3D()"
            >
              <mat-icon>3d_rotation</mat-icon>
            </a>
            @if (view3d) {
              <a
                mat-icon-button
                (click)="openFullscreen()"
                title="Full Screen"
                class="buttonFullscreen"
                ><mat-icon>fullscreen</mat-icon></a
              >
            }
            @if (view3d) {
              <a
                mat-icon-button
                (click)="resetView()"
                title="Reset view"
                class="buttonResetView"
                ><mat-icon>home</mat-icon></a
              >
            }
            @if (view3d) {
              <div #fullScreen>
                <gz-sdfviewer
                  class="sdfviewer"
                  [resource]="model"
                  [currentVersion]="currentVersion"
                >
                </gz-sdfviewer>
              </div>
            }
          </div>
        }
        <div class="gallery-container-outer">
          <div
            class="gallery-container-inner fx-layout-column fx-layout-align-center-center"
          >
            @if (!galleryImages) {
              <div class="fx-layout-column fx-layout-align-center-center">
                @if (loading || !resources) {
                  <div id="html-spinner"></div>
                }
                <span class="mat-typography">Fetching images from server</span>
              </div>
            }

            @if (galleryImages && galleryImages.length == 0) {
              <div class="fx-layout-row fx-layout-align-center-center">
                <span class="mat-typography font-x-large"
                  >This model has no thumbnails.</span
                >
              </div>
            }

            @if (galleryImages?.length > 0) {
              <gz-gallery [images]="galleryImages"></gz-gallery>
            }
          </div>
        </div>
      </div>

      <div class="row-right padding">
        <div class="action-buttons">
          <button
            mat-icon-button
            [disabled]="!authService.isAuthenticated() || disableLike"
            [title]="getLikeButtonTitle()"
            [color]="model.isLiked ? 'accent' : 'none'"
            (click)="likeClick()"
          >
            <mat-icon>favorite</mat-icon>
          </button>

          <button
            mat-icon-button
            title="Download this model"
            (click)="downloadClick()"
          >
            <mat-icon>file_download</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Copy SDF snippet to clipboard"
            (click)="copySdfInclude()"
          >
            <mat-icon>code</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="
              !authService.isAuthenticated() || currentVersion != latestVersion
            "
            [title]="getCopyButtonTitle()"
            (click)="copyModel()"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="!authService.isAuthenticated()"
            [title]="
              authService.isAuthenticated()
                ? 'Add to a Collection'
                : 'Log in to add this to a Collection'
            "
            (click)="addToCollection()"
          >
            <mat-icon>collections</mat-icon>
          </button>
          <button mat-icon-button title="Report this model" (click)="report()">
            <mat-icon>flag</mat-icon>
          </button>
          @if (canEdit) {
            <button
              mat-icon-button
              title="Edit model"
              routerLink="/{{ model?.owner }}/models/{{ model?.name }}/edit"
            >
              <mat-icon>mode_edit</mat-icon>
            </button>
          }
        </div>

        <mat-list>
          <mat-list-item>
            <div class="stat-item">
              <span class="stat-field">Liked</span>
              <span class="stat-value">{{ model?.likes }}</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="stat-item">
              <span class="stat-field">Downloaded</span>
              <span class="stat-value">{{ model?.downloads }}</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="stat-item">
              <span>File size</span>
              <span>{{ model?.filesize | gzFileSize }}</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="stat-item">
              <span class="stat-field">Upload date</span>
              <div class="stat-value">{{ model?.uploadDate | date }}</div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="stat-item">
              <span class="stat-field">Last modified</span><br />
              <span class="stat-value">{{ model?.modifyDate | date }}</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="stat-item">
              <span class="stat-field">Version</span><br />
              <mat-select
                [(ngModel)]="currentVersion"
                (ngModelChange)="onVersion()"
                class="header-dropdown"
                name="versions"
                title="Display another version"
                placeholder="Version"
                required
              >
                @for (version of model.versions; track version) {
                  <mat-option [value]="version">
                    {{ version }}
                  </mat-option>
                }
              </mat-select>
            </div>
          </mat-list-item>
        </mat-list>

        <!-- Disable because it doesn' work with Gazebo
      <a [href]="getDragUrl()" class="drag-button">
        <mat-icon _ngcontent-c20="" class="mat-icon material-icons" role="img" aria-hidden="true">mouse</mat-icon>
        Drag me!
      </a>
      --></div>
    </div>

    <!-- Description, Files and Tags -->
    <div class="bottom-row-container fx-layout-row">
      <mat-tab-group dynamicHeight class="fx-flex tab-container" color="accent">
        <mat-tab label="Model Description">
          <div class="fx-layout-column tab-body" style="gap: 20px">
            <gz-description [description]="model.description"></gz-description>

            <gz-categories [categories]="model.categories"></gz-categories>

            <gz-tags [tags]="model.tags"></gz-tags>

            <div
              class="fx-layout-row fx-layout-align-start-center"
              style="gap: 10px"
            >
              <mat-icon class="material-icons">{{
                model.private ? "visibility_off" : "visibility"
              }}</mat-icon>
              <span
                >This model is {{ model.private ? "private" : "public" }}.</span
              >
            </div>

            <div
              class="fx-layout-row fx-layout-align-start-center"
              style="gap: 10px"
            >
              <a
                class="color-link"
                rel="license"
                href="{{ model?.license.url }}"
                title="{{ model?.license.name }}"
                target="_blank"
              >
                <img
                  alt="{{ model?.license.name }}"
                  src="{{ model?.license.image }}"
                />
              </a>

              <a
                class="color-link"
                rel="license"
                href="{{ model?.license.url }}"
                title="{{ model?.license.name }}"
                target="_blank"
              >
                <span>
                  This model is licensed under {{ model?.license.name }}
                </span>
              </a>
            </div>
            <div
              class="fx-layout-row fx-layout-align-start-start"
              style="gap: 10px"
            >
              <mat-icon title="Bibtex">library_books</mat-icon>
              <pre
                (click)="copyBibtex()"
                class="bibtex"
                title="Copy Bibtex to clipboard"
              ><code>{{bibTex}}</code></pre>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Model Files">
          @if (model?.files && model.files.length > 0) {
            <div class="list-container tab-body">
              <mat-list dense>
                @for (file of model.files; track file) {
                  <mat-list-item class="list-divider">
                    <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                    <h4 matLine>{{ file.name }}</h4>
                    <span matLine>{{ file.displayPath }}</span>
                    <button
                      mat-icon-button
                      title="Download {{ file.name }}"
                      (click)="downloadIndividualFile(file)"
                    >
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          } @else {
            <div class="tab-body">
              <span>There was a problem getting the files of this model.</span>
            </div>
          }
        </mat-tab>

        <mat-tab label="Collections">
          @if (collections && collections.length > 0) {
            <div class="tab-body">
              <gz-fuel-resource-list
                class="fx-flex"
                resourceType="collections"
                [resources]="collections"
                [length]="paginatedCollections.totalCount"
                [finished]="!paginatedCollections.hasNextPage()"
                (pageChange)="loadCollections($event)"
              >
              </gz-fuel-resource-list>
            </div>
          } @else {
            <div class="tab-body">
              <span>This model doesn't belong to any collection yet.</span>
            </div>
          }
        </mat-tab>

        <mat-tab label="Metadata">
          <gz-metadata
            [metadata]="model.metadata"
            [edit]="false"
            class="fx-fill"
          >
          </gz-metadata>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
