<h1 mat-dialog-title class="mat-typography">Registration request</h1>

<div mat-dialog-content class="mat-typography">
  <p>Please provide the Organization you want to register.</p>

  <form fxLayout="column" fxLayoutAlign="center center" fxFill>
    <mat-form-field fxFill>
      <mat-select
        name="orgToRegister"
        placeholder="Organization"
        [formControl]="orgToRegister"
        required>
        <mat-option *ngFor="let org of organizationList" [value]=org>
          {{org}}
        </mat-option>
        <mat-divider></mat-divider>
        <a routerLink="/settings" fragment="organizations" routerLinkActive="active" (click)="close()">
        <mat-option>
          Create Organization
        </mat-option>
        </a>
      </mat-select>
      <mat-error>{{getError()}}</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions fxLayout='row' fxLayoutAlign='space-between' fxFill>
  <button mat-raised-button color="secondary" (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="register()">Register</button>
</div>
