.margin {
  margin: 1em;
}

.banner {
  height: 320px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

mat-card {
  margin: 10px;
}

.list-divider {
  border-bottom: 1px solid #dedede;
}

.list-divider:last-child {
  border: none;
  margin-bottom: 1em;
}

div ::ng-deep .mat-tab-header {
  align-self: center;
}

div ::ng-deep .mat-tab-labels {
  justify-content: space-between;
}

div ::ng-deep .mat-tab-label {
  flex-grow: 1;
}

.load-more {
  margin-bottom: 20px;
}

.log-details {
  color: #636363;
}
