@import '~@angular/material/theming';

@include mat-core();

// choose from https://material.io/guidelines/style/color.html#color-color-palette
$custom-theme-primary: mat-palette($mat-light-blue, 500);
$custom-theme-accent: mat-palette($mat-deep-orange, 500, 300, 800);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif',

  // Large, one-off headers, usually at the top of the page (e.g. a hero)
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),

  // corresponds to <h1>
  $headline:      mat-typography-level(24px, 32px, 400),

  // corresponds to <h2>
  $title:         mat-typography-level(20px, 32px, 500),

  // corresponds to <h3>
  $subheading-2:  mat-typography-level(16px, 28px, 400),

  // corresponds to <h4>
  $subheading-1:  mat-typography-level(15px, 24px, 400),

  // Bolder body text
  $body-2:        mat-typography-level(14px, 24px, 500),

  // Base body text
  $body-1:        mat-typography-level(14px, 20px, 400),

  // Small body and hint text
  $caption:       mat-typography-level(12px, 20px, 400),

  // Buttons and anchors
  $button:        mat-typography-level(14px, 14px, 500),

  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

@include angular-material-theme($custom-theme);
@include angular-material-typography($custom-typography);
