<div class="page-content-inner">
  @if (!authService.isAuthenticated()) {
    <div class="mat-typography">
      <p align="center">Log in above to start uploading worlds!</p>
    </div>
  } @else {
    <form
      class="fx-layout-column fx-layout-align-space-between-start content gap-20"
      (ngSubmit)="verifyBeforeUpload()"
    >
      <mat-form-field class="fx-fill">
        <input
          matInput
          placeholder="World name"
          [formControl]="worldNameInputForm"
          required
        />
        <mat-error>{{ getWorldNameError() }}</mat-error>
      </mat-form-field>
      <gz-description
        [description]="description"
        [edit]="true"
        [disabled]="uploading"
        (onModify)="onModifyDescription($event)"
        class="fx-fill"
      >
      </gz-description>
      <gz-tags
        [tags]="tags"
        [edit]="true"
        [disabled]="uploading"
        class="fx-fill"
      >
      </gz-tags>
      <div
        class="fx-layout-row fx-fill fx-layout-align-space-between-start gap-20"
      >
        <mat-form-field class="fx-flex-50">
          <mat-select
            [(ngModel)]="owner"
            name="ownerList"
            placeholder="Owner"
            [disabled]="uploading"
            required
          >
            @for (owner of ownerList; track owner; let i = $index) {
              <mat-option [value]="i">{{ owner }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fx-flex-50">
          <mat-select
            [(ngModel)]="license"
            name="licenses"
            placeholder="License"
            [disabled]="uploading"
            required
          >
            @for (l of licenses; track l; let i = $index) {
              <mat-option [value]="i">{{ l }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="fx-layout-column fx-fill">
        <p>Select if your world is public or private:</p>
        <mat-radio-group [formControl]="privacyInputForm">
          @for (p of permissionList; track p; let i = $index) {
            <mat-radio-button [value]="i">{{ p }}</mat-radio-button>
          }
        </mat-radio-group>
      </div>
      <gz-file-upload
        (files)="onReceiveFiles($event)"
        [allowedExtensions]="allowedExtensions"
        [uploading]="uploading"
        [resourceType]="'world'"
        class="fx-fill"
      >
      </gz-file-upload>
      @if (!uploading) {
        <div class="fx-layout-row fx-layout-align-space-between-start fx-fill">
          <button mat-raised-button (click)="location.back()">Cancel</button>
          <button mat-raised-button color="accent" type="submit">Upload</button>
        </div>
      } @else {
        <div class="fx-layout-row fx-layout-align-space-between-center fx-fill">
          <button mat-raised-button color="accent" (click)="cancelUpload()">
            Cancel
          </button>
          <button mat-raised-button disabled>Uploading</button>
        </div>
      }
      <div class="fx-layout-row fx-layout-align-center-center fx-fill">
        <div
          class="fx-layout-column fx-layout-align-center-center contentRules"
        >
          <h2>A world may be taken down if it</h2>
          <ul>
            <li>contains thumbnails that do not represent the actual world,</li>
            <li>violates copyright law, or</li>
            <li>
              contains inappropriate material including but not limited to spam,
              marketing material, or sexually explicit content.
            </li>
          </ul>
          <p>
            Please refer to our
            <a
              href="https://openrobotics.freshdesk.com/support/solutions/articles/43000011292-data-and-privacy-policy"
              >data and privacy policy</a
            >
            for information regarding manual content deletion.
          </p>
        </div>
      </div>
    </form>
  }
</div>
