@use '@angular/material' as mat;
@import '../../styles/custom-theme.scss';

:host {
  display: inline-block;
  box-sizing: border-box;
  color: mat.get-color-from-palette($custom-theme-primary);
}

h1 {
  text-align: left;
  margin: 10px 0;
}

mat-icon {
  margin-right: 10px;
}
