@if (edit) {
  <div>
    <mat-form-field hintLabel="Select up to two categories." class="fx-fill">
      <mat-select
        placeholder="Categories"
        [formControl]="categorySelectionForm"
        multiple
        (selectionChange)="selectionChange($event)"
      >
        @for (category of availableCategories; track category) {
          <mat-option
            [value]="category"
            [disabled]="
              categorySelectionForm.value.indexOf(category) === -1 &&
              categorySelectionForm.value.length >= 2
            "
          >
            {{ category }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
} @else {
  <div class="fx-layout-row fx-fill" style="gap: 10px">
    <mat-icon class="margin-align" title="Categories">category</mat-icon>
    @if (categories && categories.length > 0) {
      <div class="fx-layout-align-start-center category-list">
        <span>{{ selectedCategories }}</span>
      </div>
    } @else {
      <div
        class="margin-align fx-layout-row fx-layout-align-start-center category-list"
      >
        <span>No categories.</span>
      </div>
    }
  </div>
}
