@if (edit) {
  <div>
    <mat-form-field hintLabel="Select up to two categories." class="fx-fill">
      <mat-select
        placeholder="Categories"
        [formControl]="categorySelectionForm"
        multiple
        (selectionChange)="selectionChange($event)"
      >
        @for (category of availableCategories; track category) {
          <mat-option
            [value]="category"
            [disabled]="
              categorySelectionForm.value.indexOf(category) === -1 &&
              categorySelectionForm.value.length >= 2
            "
          >
            {{ category }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
} @else {
  <mat-chip-list>
    @for (category of categories; track category) {
      <mat-chip>{{ category }}</mat-chip>
    } @empty {
      <span>-</span>
    }
  </mat-chip-list>
}
