<h1 mat-dialog-title class="mat-typography">Score {{logfile.name}}</h1>

<div mat-dialog-content class="mat-typography">
  <p>Set the score of the logfile</p>

  <form fxLayout="column" FxLayoutAlign="center start">
    <mat-form-field fxFill>
      <input matInput placeholder="Score" type="number" [formControl]="scoreForm" required/>
      <mat-error>{{getError()}}</mat-error>
    </mat-form-field>

    <div class="action-buttons" fxLayoutAlign="space-between center" fxFill>
      <button mat-button (click)="cancel()">
        Cancel
      </button>

      <button mat-raised-button color="primary" (click)="score()" [disabled]="!logfile || busy">
        Score
      </button>
    </div>
  </form>
</div>
