<div class="fx-layout-column fx-layout-align-start-center">
  @if (collection?.getThumbnail()) {
    <div class="banner">
      @if (collection?.getThumbnail().url | gzAuthHeader | async; as result) {
        <img [src]="result" alt="Collection Banner" />
      }
    </div>
  }

  <div class="header fx-layout-row fx-layout-align-space-between fx-fill">
    <div class="fx-flex-30">
      <gz-page-title
        [title]="collection.name"
        icon="collections"
      ></gz-page-title>
      <h4>
        By
        <a
          class="color-link"
          routerLink="/{{ collection?.owner }}"
          routerLinkActive="active"
          >{{ collection?.owner }}</a
        >
      </h4>
    </div>

    <div class="fx-layout-align-center-center fx-flex-40">
      <mat-form-field [floatLabel]="'never'" class="fx-fill">
        <mat-label>Search in collection</mat-label>
        <input
          #search
          matInput
          class="search"
          type="search"
          (keyup.enter)="onSearch(search.value)"
        />
        <mat-icon matPrefix id="search-icon">search</mat-icon>
      </mat-form-field>
    </div>

    <div class="fx-layout-row-wrap fx-layout-align-end buttons fx-flex-30">
      <button
        mat-icon-button
        [matMenuTriggerFor]="downloadDialog"
        #menuTrigger
        title="Download this collection."
      >
        <mat-icon>file_download</mat-icon>
      </button>
      <mat-menu #downloadDialog="matMenu">
        <div
          class="fx-layout-column download-link"
          (click)="$event.stopPropagation()"
        >
          <h1>Collection Download</h1>
          <h3>Run this command using the script below</h3>
          <div
            class="fx-layout-row fx-layout-align-center-center command gap-20"
          >
            <pre>{{ downloadCommand }}</pre>
            <button
              mat-icon-button
              title="Copy command"
              (click)="copyDownloadCommand()"
            >
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
          <a href="assets/scripts/download_collection.py" download
            >Download script</a
          >
        </div>
      </mat-menu>

      <button
        mat-icon-button
        [disabled]="!authService.isAuthenticated()"
        [title]="getCopyButtonTitle()"
        (click)="copyCollection()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>

      <button
        mat-icon-button
        title="Copy Bibtex to clipboard"
        (click)="copyBibtex()"
      >
        <mat-icon>library_books</mat-icon>
      </button>

      @if (canEdit) {
        <button
          mat-icon-button
          title="Edit collection"
          routerLink="/{{ collection?.owner }}/collections/{{
            collection?.name
          }}/edit"
        >
          <mat-icon>mode_edit</mat-icon>
        </button>
      }
      @if (canEdit) {
        <button
          mat-icon-button
          title="Remove this collection"
          (click)="removeCollection()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </div>

  <div class="header fx-layout-row fx-fill">
    <gz-description [description]="collection?.description"></gz-description>
  </div>

  <mat-tab-group
    dynamicHeight
    class="fx-fill"
    (selectedIndexChange)="setActiveTab($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="fx-layout-row fx-layout-align-start-center gap-10">
          <mat-icon svgIcon="gz-model"></mat-icon>
          <span>Models ({{ paginatedModels?.totalCount }})</span>
        </div>
      </ng-template>

      <div class="tab-content">
        <gz-fuel-resource-list
          class="fx-flex"
          resourceType="models"
          [resources]="collection.models"
          [length]="paginatedModels?.totalCount"
          [finished]="!paginatedModels?.hasNextPage()"
          [removable]="canEdit"
          [disabled]="activeTab !== 'models'"
          (pageChange)="loadModels($event)"
          (onRemoveItem)="removeItem($event)"
        >
        </gz-fuel-resource-list>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="fx-layout-row fx-layout-align-start-center gap-10">
          <mat-icon svgIcon="gz-world"></mat-icon>
          <span>Worlds ({{ paginatedWorlds?.totalCount }})</span>
        </div>
      </ng-template>

      <div class="tab-content">
        <gz-fuel-resource-list
          class="fx-flex"
          resourceType="worlds"
          [resources]="collection.worlds"
          [length]="paginatedWorlds?.totalCount"
          [finished]="!paginatedWorlds?.hasNextPage()"
          [removable]="canEdit"
          [disabled]="activeTab !== 'models'"
          (pageChange)="loadWorlds($event)"
          (onRemoveItem)="removeItem($event)"
        >
        </gz-fuel-resource-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
