
<div class="page-content-inner" fxFlex fxLayoutAlign='center'>
  <div class="content mat-typography">
    <div fxLayoutAlign="space-between">
      <div fxLayout="row" fxAlign="start">
        <div fxLayout="column">
          <ign-page-title [title]="simulation.name || simulation.groupId" icon="computer"></ign-page-title>
          <h4>
            By <a routerLink="/{{simulation?.owner}}">{{simulation?.owner}}</a>
          </h4>
        </div>
      </div>
    </div>

    <div fxLayout="row">
      <div class="visualizer" fxFlex="0 1 70%">
        <div class="outer">
          <div class="inner" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
              <span *ngIf="!simulation.isRunning()"
                    class="mat-typography font-x-large">
                Visualization only available while the simulation is running.
              </span>

              <div *ngIf="simulation.isRunning()" id="scene" (window:resize)="resize()"></div>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="0 0 30%">
        <mat-list>
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <span>Status</span>
              <span>{{simulation.status}}</span>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <span *ngIf="simulation.errorStatus">Error</span>
              <span *ngIf="simulation.errorStatus">{{simulation.errorStatus}}</span>

              <span *ngIf="!simulation.errorStatus"></span>
              <span *ngIf="!simulation.errorStatus">No errors</span>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="realTime">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <span>Real Time</span>
              <span>{{realTime | ignDuration}}</span>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="simTime">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <span>Simulation Time</span>
              <span>{{simTime | ignDuration}}</span>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="realTimeFactor">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
              <span>Real Time Factor</span>
              <span>{{realTimeFactor}}</span>
            </div>
          </mat-list-item>
        </mat-list>

        <!-- <ign-simulation-actions [simulation]=simulation></ign-simulation-actions> -->
      </div>
    </div>
  </div>
</div>
