table {
  width: 100%;
}

.content {
  padding: 1em 1em 0;
}

.sim-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.launch-btn {
  margin-left: 1em;
  margin-bottom: 1em;
}