@import '~@angular/material/theming';
@import '../../styles.scss';

.hide-element {
  display: none;
}

#description-field ::ng-deep a {
  color: mat-color($custom-theme-primary, 800);
}

#description-field {
  overflow-wrap: break-word;
  overflow: overlay;
  line-height: 1.5em;
}

textarea{
  line-height: 1.5em;
  padding-bottom: 1em;
}
