

.hide-element {
  display: none;
}

#description-field ::ng-deep a {
  color: #0277bd;
}

#description-field {
  overflow-wrap: break-word;
  overflow: overlay;
  line-height: 1.5em;
}

textarea{
  line-height: 1.5em;
  padding-bottom: 1em;
}
