<div class="fx-layout-column">
  <mat-tab-group
    dynamicHeight
    class="fx-fill"
    (selectedIndexChange)="setActiveTab($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <div
          class="fx-layout-row fx-layout-align-start-center"
          style="gap: 10px"
        >
          <mat-icon svgIcon="gz-model"></mat-icon>
          <span>Models ({{ paginatedModels?.totalCount }})</span>
        </div>
      </ng-template>

      <div class="tab-content">
        <gz-fuel-resource-list
          [resources]="models"
          resourceType="models"
          [disabled]="activeTab !== 'models'"
          [finished]="!paginatedModels?.hasNextPage()"
          (onLoadMore)="loadNextModelsPage()"
          class="fx-flex"
        >
        </gz-fuel-resource-list>
      </div>
    </mat-tab>

    <mat-tab label="Worlds">
      <ng-template mat-tab-label>
        <div
          class="fx-layout-row fx-layout-align-start-center"
          style="gap: 10px"
        >
          <mat-icon svgIcon="gz-world"></mat-icon>
          <span>Worlds ({{ paginatedWorlds?.totalCount }})</span>
        </div>
      </ng-template>

      <div class="tab-content">
        <gz-fuel-resource-list
          [resources]="worlds"
          resourceType="worlds"
          [disabled]="activeTab !== 'worlds'"
          [finished]="!paginatedWorlds?.hasNextPage()"
          (onLoadMore)="loadNextWorldsPage()"
          class="fx-flex"
        >
        </gz-fuel-resource-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
