@import '~@angular/material/theming';
@import '../../../styles.scss';

.unauthorized {
  margin: 1em;
}

.content {
  width: 60%;
  margin: auto;
  padding-bottom: 2em;
  h2 {
    padding-top: 1em;
  }
}

.banner-button {
  margin-right: 1em;
}

mat-radio-group {
  mat-radio-button:not(:first-child) {
    padding-left: 10px;
  }
}
