<div class="page-content-inner" fxFlex fxLayoutAlign='center'>
  <div class="content mat-typography">

    <div fxLayout="column" fxLayoutAlign='start' class="header">
      <ign-page-title title="Notifications"></ign-page-title>
      <mat-divider></mat-divider>
      <mat-tab-group dynamicHeight fxFill (selectedIndexChange)="setActiveTab($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon aria-label="notifications-inbox-icon">inbox</mat-icon>
              <span>Inbox</span>
            </div>
          </ng-template>

          <div class="tab-content">
          <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon aria-label="review-icon">rate_review</mat-icon>
              <span>Review Requested</span>
            </div>
          </ng-template>

          <div class="tab-content">
          <div class="mat-elevation-z8">
        <table mat-table [dataSource]="reviewRequestedData">

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
          
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon aria-label="review-icon">subscriptions</mat-icon>
              <span>Subscribed</span>
            </div>
          </ng-template>

          <div class="tab-content">
          <div class="mat-elevation-z8">
        <table mat-table [dataSource]="subscribedData">

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon aria-label="mentioned-icon">alternate_email</mat-icon>
              <span>Where user is mentioned</span>
            </div>
          </ng-template>

          <div class="tab-content">
          <div class="mat-elevation-z8">
        <table mat-table [dataSource]="mentionedData">

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div fxLayout="row" fxLayoutAlign='start center' fxLayoutGap="30px" fxFill>
       
    </div>
  </div>
</div>
