<div
  class="fx-layout-column"
  style="flex: 1 1 1 0; max-width: 1 0; box-sizing: border-box"
>
  <h1 mat-dialog-title class="mat-typography">Your New Access Token</h1>

  <div
    style="flex: 1 1 1 0; max-width: 1 0; box-sizing: border-box"
    class="fx-fill mat-typography"
    mat-dialog-content
  >
    <form class="fx-layout-row">
      <mat-form-field style="width: 470px">
        <input matInput value="{{ data.key }}" readonly #tokenInput />
      </mat-form-field>
      <button mat-icon-button title="Copy Token" (click)="copy(tokenInput)">
        <mat-icon>file_copy</mat-icon>
      </button>
    </form>
    <p>Make sure to save this token. You won't be able to access it again!</p>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      Close
    </button>
  </div>
</div>
